In [1]:
import numpy as np

### Comparisions and masking

In [2]:
a = np.array([1, 3, 4])
b = np.array([2, 2, 7])

In [11]:
c = a < b
print(c)
print(c.all())  # were all True
print(c.any())  # was some comparision True
print(a[c])  # values on a less than b
print("True values: ", np.sum(c))  # total of less values

[ True False  True]
False
True
[1 4]
True values:  2

In [4]:
print(a > 0)

[ True  True  True]

In [5]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/csmastersUH/data_analysis_with_python_2020/master/kumpula-weather-2017.csv")['Air temperature (degC)'].values

In [6]:
df

array([  0.6,  -3.9,  -6.5, -12.8, -17.8, -17.8,  -3.8,  -0.5,   0.5,
         1.7,  -1.6,  -2.8,   1.1,   0.8,  -2.8,  -4.2,  -3.5,   1.1,
         1.6,  -0.6,  -1.8,   1. ,   0.1,  -2.2,  -3.8,   1.9,   1.6,
         0.8,   0.6,   1. ,   0.2,  -0.6,  -0.8,  -0.2,   0.4,  -2.5,
        -7.3, -12.1,  -8.8, -10.1,  -8.3,  -5.4,  -2.7,   1.5,   4.4,
         0. ,   0.5,   1.5,   1.9,   2.2,   0.4,  -2.5,  -4.6,  -0.7,
        -5.3,  -5.6,  -2. ,  -2.3,   2.1,   1.5,   1.5,   0.9,  -1.8,
        -4.2,  -4.2,  -2.9,   0.2,   1.2,   1.4,   2.2,  -0.9,   0.6,
         0.6,   3.8,   3.4,   2. ,   1.6,   0.6,   0.2,   1.6,   2.3,
         2.5,   0.5,   1.9,   4.8,   6.6,   2.4,   0.4,  -0.4,   0.2,
         1.5,   4.3,   3. ,   3.8,   3.3,   4.7,   4.1,   3.3,   3.7,
         6. ,   4.3,   1.8,   1.2,  -0.5,  -1.4,  -1.7,   0.6,   0.3,
         1.2,   2.5,   5.7,   3.1,   2.9,   3.6,   2.8,   3.2,   4.4,
         4.1,   2.3,   2.2,   7.6,   9.4,   9.2,   6.7,  10.1,  11.1,
         6.1,   4.4,   1.5,   1.5,   2.9,   5.1,   7.5,   9.8,   9. ,
         7.3,   9.4,  11.2,  16.1,  16.9,  14.7,  14.6,  13.3,  12.4,
        14.1,  14.1,   9.6,  13.2,  14.1,   9.6,  10.8,   6.5,   6.2,
        10. ,   9.9,  10.4,  14.5,  16.4,  12.3,  14. ,  16.3,  16.8,
        12.6,  12.6,  14.8,  15.1,  18.4,  19.3,  16.9,  17.8,  12.7,
        12.4,  12.2,  10.8,  12.9,  14. ,  13.5,  13.7,  15.3,  16.3,
        17.2,  14.1,  16.4,  14.5,  14.1,  14. ,  11.5,  14.7,  16.1,
        17.4,  18. ,  16.8,  16.8,  14.7,  15.3,  16.7,  18. ,  15.4,
        15. ,  13.7,  14.6,  15.8,  15.6,  16.9,  15.7,  16.1,  17.2,
        19. ,  19.1,  17.8,  18.3,  17.8,  18.9,  17.5,  18.2,  16.6,
        17.1,  16. ,  15.2,  17.2,  18.3,  18.7,  18.1,  19.6,  17.4,
        16.1,  16.4,  17.6,  19. ,  18. ,  18.2,  17.4,  16.2,  14.9,
        13.5,  12.9,  11.2,  10.4,  10.7,  12. ,  14.4,  16.8,  17.2,
        15.1,  12.9,  12.9,  11.9,  11.4,  10.4,  10.3,  10.6,  13.1,
        14.6,  14.6,  14.9,  14.4,  12.9,  12.2,  12.1,   9.9,   8.7,
         9. ,   9.2,  12.4,  11.5,  12.8,  12.5,  12.6,  12. ,  12.1,
        10.1,   8.9,   8.8,   9.1,   9.2,   8.3,  11.2,   8.8,   7.7,
         8.1,   9.3,   8.6,   8.1,   6.9,   6. ,   7.5,   7.2,   8.3,
        10.7,   8.5,   8.3,   4.6,   2. ,   0.2,   0.1,   1.3,   0.8,
         2.1,   0.3,  -0.3,   3.3,   2.1,   1.2,  -0.4,   0.1,   0.5,
         3.2,   8. ,   8.4,   7.5,   3.9,   5.9,   6.7,   7.2,   5.9,
         3.1,   2.4,   1.8,   3.1,   3.5,   5.8,   5.9,   4. ,   1.2,
         0.9,   1. ,   1.5,   6.1,   4.2,   2.3,   4.6,   3.9,   2.8,
         3.1,   0.9,   1.4,   5. ,   1.3,   0. ,  -1.2,  -0.8,   5.2,
         4.2,   2. ,   1.4,   1.6,   1.6,   1.6,   1.7,   2.4,   0.1,
         2. ,   1. ,   2.6,   2.5,  -0.1,   1.2,  -0.3,   0.3,   1.9,
         3.8,   2.8,   3.8,   2.5,   1.6])

In [7]:
print("Number of days with temperature below zero: ", np.sum(df < 0))

Number of days with temperature below zero:  49

In [8]:
np.sum( (0 < df) & (df < 10))  # Temperature greater than 0 and less than 10

np.int64(185)

In [15]:
c = df > 0
print(c[:10])  # print only the first ten elements
print(df[c])  # Select only the positive temperatures

[ True False False False False False False False  True  True]
[ 0.6  0.5  1.7  1.1  0.8  1.1  1.6  1.   0.1  1.9  1.6  0.8  0.6  1.
  0.2  0.4  1.5  4.4  0.5  1.5  1.9  2.2  0.4  2.1  1.5  1.5  0.9  0.2
  1.2  1.4  2.2  0.6  0.6  3.8  3.4  2.   1.6  0.6  0.2  1.6  2.3  2.5
  0.5  1.9  4.8  6.6  2.4  0.4  0.2  1.5  4.3  3.   3.8  3.3  4.7  4.1
  3.3  3.7  6.   4.3  1.8  1.2  0.6  0.3  1.2  2.5  5.7  3.1  2.9  3.6
  2.8  3.2  4.4  4.1  2.3  2.2  7.6  9.4  9.2  6.7 10.1 11.1  6.1  4.4
  1.5  1.5  2.9  5.1  7.5  9.8  9.   7.3  9.4 11.2 16.1 16.9 14.7 14.6
 13.3 12.4 14.1 14.1  9.6 13.2 14.1  9.6 10.8  6.5  6.2 10.   9.9 10.4
 14.5 16.4 12.3 14.  16.3 16.8 12.6 12.6 14.8 15.1 18.4 19.3 16.9 17.8
 12.7 12.4 12.2 10.8 12.9 14.  13.5 13.7 15.3 16.3 17.2 14.1 16.4 14.5
 14.1 14.  11.5 14.7 16.1 17.4 18.  16.8 16.8 14.7 15.3 16.7 18.  15.4
 15.  13.7 14.6 15.8 15.6 16.9 15.7 16.1 17.2 19.  19.1 17.8 18.3 17.8
 18.9 17.5 18.2 16.6 17.1 16.  15.2 17.2 18.3 18.7 18.1 19.6 17.4 16.1
 16.4 17.6 19.  18.  18.2 17.4 16.2 14.9 13.5 12.9 11.2 10.4 10.7 12.
 14.4 16.8 17.2 15.1 12.9 12.9 11.9 11.4 10.4 10.3 10.6 13.1 14.6 14.6
 14.9 14.4 12.9 12.2 12.1  9.9  8.7  9.   9.2 12.4 11.5 12.8 12.5 12.6
 12.  12.1 10.1  8.9  8.8  9.1  9.2  8.3 11.2  8.8  7.7  8.1  9.3  8.6
  8.1  6.9  6.   7.5  7.2  8.3 10.7  8.5  8.3  4.6  2.   0.2  0.1  1.3
  0.8  2.1  0.3  3.3  2.1  1.2  0.1  0.5  3.2  8.   8.4  7.5  3.9  5.9
  6.7  7.2  5.9  3.1  2.4  1.8  3.1  3.5  5.8  5.9  4.   1.2  0.9  1.
  1.5  6.1  4.2  2.3  4.6  3.9  2.8  3.1  0.9  1.4  5.   1.3  5.2  4.2
  2.   1.4  1.6  1.6  1.6  1.7  2.4  0.1  2.   1.   2.6  2.5  1.2  0.3
  1.9  3.8  2.8  3.8  2.5  1.6]

In [ ]:
# Asign new values using masking
df[~c] = 0
print(df)

[ 0.6  0.   0.   0.   0.   0.   0.   0.   0.5  1.7  0.   0.   1.1  0.8
  0.   0.   0.   1.1  1.6  0.   0.   1.   0.1  0.   0.   1.9  1.6  0.8
  0.6  1.   0.2  0.   0.   0.   0.4  0.   0.   0.   0.   0.   0.   0.
  0.   1.5  4.4  0.   0.5  1.5  1.9  2.2  0.4  0.   0.   0.   0.   0.
  0.   0.   2.1  1.5  1.5  0.9  0.   0.   0.   0.   0.2  1.2  1.4  2.2
  0.   0.6  0.6  3.8  3.4  2.   1.6  0.6  0.2  1.6  2.3  2.5  0.5  1.9
  4.8  6.6  2.4  0.4  0.   0.2  1.5  4.3  3.   3.8  3.3  4.7  4.1  3.3
  3.7  6.   4.3  1.8  1.2  0.   0.   0.   0.6  0.3  1.2  2.5  5.7  3.1
  2.9  3.6  2.8  3.2  4.4  4.1  2.3  2.2  7.6  9.4  9.2  6.7 10.1 11.1
  6.1  4.4  1.5  1.5  2.9  5.1  7.5  9.8  9.   7.3  9.4 11.2 16.1 16.9
 14.7 14.6 13.3 12.4 14.1 14.1  9.6 13.2 14.1  9.6 10.8  6.5  6.2 10.
  9.9 10.4 14.5 16.4 12.3 14.  16.3 16.8 12.6 12.6 14.8 15.1 18.4 19.3
 16.9 17.8 12.7 12.4 12.2 10.8 12.9 14.  13.5 13.7 15.3 16.3 17.2 14.1
 16.4 14.5 14.1 14.  11.5 14.7 16.1 17.4 18.  16.8 16.8 14.7 15.3 16.7
 18.  15.4 15.  13.7 14.6 15.8 15.6 16.9 15.7 16.1 17.2 19.  19.1 17.8
 18.3 17.8 18.9 17.5 18.2 16.6 17.1 16.  15.2 17.2 18.3 18.7 18.1 19.6
 17.4 16.1 16.4 17.6 19.  18.  18.2 17.4 16.2 14.9 13.5 12.9 11.2 10.4
 10.7 12.  14.4 16.8 17.2 15.1 12.9 12.9 11.9 11.4 10.4 10.3 10.6 13.1
 14.6 14.6 14.9 14.4 12.9 12.2 12.1  9.9  8.7  9.   9.2 12.4 11.5 12.8
 12.5 12.6 12.  12.1 10.1  8.9  8.8  9.1  9.2  8.3 11.2  8.8  7.7  8.1
  9.3  8.6  8.1  6.9  6.   7.5  7.2  8.3 10.7  8.5  8.3  4.6  2.   0.2
  0.1  1.3  0.8  2.1  0.3  0.   3.3  2.1  1.2  0.   0.1  0.5  3.2  8.
  8.4  7.5  3.9  5.9  6.7  7.2  5.9  3.1  2.4  1.8  3.1  3.5  5.8  5.9
  4.   1.2  0.9  1.   1.5  6.1  4.2  2.3  4.6  3.9  2.8  3.1  0.9  1.4
  5.   1.3  0.   0.   0.   5.2  4.2  2.   1.4  1.6  1.6  1.6  1.7  2.4
  0.1  2.   1.   2.6  2.5  0.   1.2  0.   0.3  1.9  3.8  2.8  3.8  2.5
  1.6]

### E3.1 (column comparison)
Write function column_comparison that gets a two dimensional array as parameter. The function should return a new array containing those rows from the input that have the value in the second column larger than in the second last column. You may assume that the input contains at least two columns. Don't use loops, but instead vectorized operations. Try out your function in the main function.

In [17]:
def column_comparison(arr: np.ndarray):
    mask = arr[:, 1] > arr[:, -2] 
    return arr[mask]

In [18]:
a = np.array(
[[8, 9, 3, 8, 8],
 [0, 5, 3, 9, 9],
 [5, 7, 6, 0, 4],
 [7, 8, 1, 6, 2],
 [2, 1, 3, 5, 8]]
)
print(column_comparison(a))

[[8 9 3 8 8]
 [5 7 6 0 4]
 [7 8 1 6 2]]

### E3.2 (fitst half second half)
Write function first_half_second_half that gets a two dimensional array of shape (n,2*m) as a parameter. The input array has 2*m columns. The output from the function should be a matrix with those rows from the input that have the sum of the first m elements larger than the sum of the last m elements on the row. Your solution should call the np.sum function or the corresponding method exactly twice.

In [19]:
def first_half_second_half(arr: np.ndarray):
    _, m = arr.shape
    m = int(m / 2)
    return [row for row in arr if np.sum(row[:m]) > np.sum(row[m:])]

In [23]:
a = np.array([[1, 3, 4, 2],
              [2, 2, 1, 2]])
print( first_half_second_half(a) )

[array([2, 2, 1, 2])]

In [25]:
_, m = a.shape
m = m // 2
mask = np.sum(a[:, :m], axis=1) > np.sum(a[:, m: ], axis=1)
print(a[mask])

[[2 2 1 2]]

In [36]:
def info(a: np.ndarray): 
    print("Dimension:", a.ndim)
    print("Shape [n x m]:", a.shape)
    print("Size [n * m]:", a.size)
    print("dtype:", a.dtype)
    for row in a: 
        print(row)
    print()

### Fancy indexing

In [26]:
rng = np.random.default_rng(0)

In [27]:
a = rng.integers(0, 20, 20)
a

array([17, 12, 10,  5,  6,  0,  1,  0,  3, 16, 12, 18, 10, 12, 19, 14, 12,
       10, 11, 18])

In [32]:
idx = [0, 2, 5, 13]
print(a[idx])

[17 10  0 12]

In [34]:
a[idx] = -100
a

array([-100,   12, -100,    5,    6, -100,    1,    0,    3,   16,   12,
         18,   10, -100,   19,   14,   12,   10,   11,   18])

In [ ]:
b = np.arange(16).reshape(4, 4)
info(b)
row = np.array([0, 2])
col = np.array([1, 3])
print(b[row, col])  # row: 0, col: 1 = 1; row: 2, col: 3 = 2

Dimension: 2
Shape [n x m]: (4, 4)
Size [n * m]: 16
dtype: int64
[0 1 2 3]
[4 5 6 7]
[ 8  9 10 11]
[12 13 14 15]

[ 1 11]

In [44]:
row = np.array([0, -1])
col = np.array([0, -1])
print(b[row, col])

[ 0 15]

### Sorting arrays

In [52]:
a=np.array([2,1,4,3,5])
print(a)
print("sorted", np.sort(a))

[2 1 4 3 5]
sorted [1 2 3 4 5]

In [53]:
a.sort()
print(a)

[1 2 3 4 5]

In [64]:
b = rng.integers(0,10, (4,4))
print(b)

[[4 7 3 2]
 [7 8 0 0]
 [6 3 5 1]
 [8 4 8 7]]

In [66]:
np.sort(b, axis=0) ## Sort by columns

array([[4, 3, 0, 0],
       [6, 4, 3, 1],
       [7, 7, 5, 2],
       [8, 8, 8, 7]])

In [67]:
np.sort(b, axis=1)  # Sort by rows

array([[2, 3, 4, 7],
       [0, 0, 7, 8],
       [1, 3, 5, 6],
       [4, 7, 8, 8]])

In [68]:
# np.argsort return the indices of the sorted elements. 
a = np.array([23,12,47,35,59])
print("Array a:", a)
idx = np.argsort(a)
print("Indices:", idx)

Array a: [23 12 47 35 59]
Indices: [1 0 3 2 4]

### E3.3 (most frecuent first)

Write function most_frequent_first that gets a two dimensional array and an index c of a column as parameters. The function should then return the array whose rows are sorted based on column c, in the following way. Rows are ordered so that those rows with the most frequent element in column c come first, then come the rows with the second most frequent element in column c, and so on. Therefore, the values outside column c don't affect the ordering in any way.

In [ ]:
def most_frequent_first(a: np.ndarray, c: int):
    pass

In [70]:
a = np.array(
 [[5, 0, 3, 3, 7, 9, 3, 5, 2, 4],
 [7, 6, 8, 8, 1, 6, 7, 7, 8, 1],
 [5, 9, 8, 9, 4, 3, 0, 3, 5, 0],
 [2, 3, 8, 1, 3, 3, 3, 7, 0, 1],
 [9, 9, 0, 4, 7, 3, 2, 7, 2, 0],
 [0, 4, 5, 5, 6, 8, 4, 1, 4, 9],
 [8, 1, 1, 7, 9, 9, 3, 6, 7, 2],
 [0, 3, 5, 9, 4, 4, 6, 4, 4, 3],
 [4, 4, 8, 4, 3, 7, 5, 5, 0, 1],
 [5, 9, 3, 0, 5, 0, 1, 2, 4, 2]])

### Matrix Operations

In [74]:
a = rng.integers(0, 10, (3, 2))
b = rng.integers(0, 10, (2, 4))
info(a)
info(b)

Dimension: 2
Shape [n x m]: (3, 2)
Size [n * m]: 6
dtype: int64
[7 9]
[4 4]
[4 9]

Dimension: 2
Shape [n x m]: (2, 4)
Size [n * m]: 8
dtype: int64
[1 4 0 4]
[9 6 3 9]

In [76]:
c = np.matmul(a, b)
info(c)

Dimension: 2
Shape [n x m]: (3, 4)
Size [n * m]: 12
dtype: int64
[ 88  82  27 109]
[40 40 12 52]
[85 70 27 97]

In [77]:
print(a @ b)

[[ 88  82  27 109]
 [ 40  40  12  52]
 [ 85  70  27  97]]

In [80]:
print(a @ a.T)

[[130  64 109]
 [ 64  32  52]
 [109  52  97]]

In [81]:
print(a.T @ a)

[[ 81 115]
 [115 178]]