In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/csmastersUH/data_analysis_with_python_2020/master/kumpula-weather-2017.csv")
df.head()

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8

In [3]:
df.shape

(365, 8)

In [4]:
df.columns

Index(['Year', 'm', 'd', 'Time', 'Time zone', 'Precipitation amount (mm)',
       'Snow depth (cm)', 'Air temperature (degC)'],
      dtype='object')

In [5]:
df['Precipitation amount (mm)'].head()

0   -1.0
1    4.4
2    6.6
3   -1.0
4   -1.0
Name: Precipitation amount (mm), dtype: float64

In [6]:
df['Precipitation amount (mm)'].mean()

np.float64(1.9663013698630138)

In [7]:
df.describe()

,Year,m,d,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
count,365.0,365.000000,365.000000,365.000000,358.000000,365.000000
mean,2017.0,6.526027,15.720548,1.966301,0.966480,6.527123
std,0.0,3.452584,8.808321,4.858423,3.717472,7.183934
min,2017.0,1.000000,1.000000,-1.000000,-1.000000,-17.800000
25%,2017.0,4.000000,8.000000,-1.000000,-1.000000,1.200000
50%,2017.0,7.000000,16.000000,0.200000,-1.000000,4.800000
75%,2017.0,10.000000,23.000000,2.700000,0.000000,12.900000
max,2017.0,12.000000,31.000000,35.000000,15.000000,19.600000

In [8]:
df.drop('Time zone', axis=1).head()

,Year,m,d,Time,Precipitation amount (mm),Snow depth (cm),Air temperature (degC)
0,2017,1,1,00:00,-1.0,-1.0,0.6
1,2017,1,2,00:00,4.4,-1.0,-3.9
2,2017,1,3,00:00,6.6,7.0,-6.5
3,2017,1,4,00:00,-1.0,13.0,-12.8
4,2017,1,5,00:00,-1.0,10.0,-17.8

In [9]:
df['Rainy'] = df['Precipitation amount (mm)'] > 5
df.head()

,Year,m,d,Time,Time zone,Precipitation amount (mm),Snow depth (cm),Air temperature (degC),Rainy
0,2017,1,1,00:00,UTC,-1.0,-1.0,0.6,False
1,2017,1,2,00:00,UTC,4.4,-1.0,-3.9,False
2,2017,1,3,00:00,UTC,6.6,7.0,-6.5,True
3,2017,1,4,00:00,UTC,-1.0,13.0,-12.8,False
4,2017,1,5,00:00,UTC,-1.0,10.0,-17.8,False

## Creation and Indexing of series

In [10]:
s = pd.Series(data=[1, 4, 5, 2, 5, 2], name='series')
s

0    1
1    4
2    5
3    2
4    5
5    2
Name: series, dtype: int64

In [11]:
s.name = 'grades'
s

0    1
1    4
2    5
3    2
4    5
5    2
Name: grades, dtype: int64

In [32]:
def series_info(s: pd.Series): 
    print(f"Name: {s.name},\ndtype: {s.dtype},\nsize: {s.size}")
    print(f"index: {s.index}")
    print(f"values: {s.values}")

In [33]:
series_info(s)

Name: None,
dtype: object,
size: 6
index: RangeIndex(start=0, stop=6, step=1)
values: ['a' 's' 'd' 'f' 'g' 'h']

In [14]:
s[1]

np.int64(4)

In [15]:
s2 = s[[0, 5]]  # Fancy indexing
s2

0    1
5    2
Name: grades, dtype: int64

In [16]:
t = s[-2:]
t

4    5
5    2
Name: grades, dtype: int64

In [17]:
s.values

array([1, 4, 5, 2, 5, 2])

In [18]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [19]:
s.index = ['a', 'b', 'c', 'd', 'e', 'f']
s

a    1
b    4
c    5
d    2
e    5
f    2
Name: grades, dtype: int64

In [20]:
s3 = pd.Series(data=[1, 2, 3, 4, 5, 6], index=list('abcdef'))
s3

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [21]:
s3.values

array([1, 2, 3, 4, 5, 6])

In [22]:
s3.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [23]:
s3['b']

np.int64(2)

In [24]:
s3['b': 'e']

b    2
c    3
d    4
e    5
dtype: int64

In [25]:
s3[1]

C:\Users\isaul\AppData\Local\Temp\ipykernel_2152\3609381242.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s3[1]

np.int64(2)

In [26]:
s4 = pd.Series(["Jack", "Jones", "James"], index=[1, 2, 3])
s4

1     Jack
2    Jones
3    James
dtype: object

In [35]:
print(s4.loc[1])
print(s4.iloc[1])

Jack
Jones

In [42]:
s4.drop(1)

2    Jones
3    James
dtype: object

### E3.13(read series)

Write function read_series that reads input lines from the user and return a Series. Each line should contain first the index and then the corresponding value, separated by whitespace. The index and values are strings (in this case dtype is object). An empty line signals the end of Series. Malformed input should cause an exception. An input line is malformed, if it is non-empty and, when split at whitespace, does not result in two parts.

In [ ]:
def read_series():
    x = list()
    while True: 
        value = input()
        if value == "":
            break
        x.append(value)

    return pd.Series(data=x)

In [31]:
s = read_series()
s

0    a
1    s
2    d
3    f
4    g
5    h
dtype: object

## Exercise 3.14 (operations on series)
Write function create_series that gets two lists of numbers as parameters. Both lists should have length 3. The function should first create two Series, s1 and s2. The first series should have values from the first parameter list and have corresponding indices a, b, and c. The second series should get its values from the second parameter list and have again the corresponding indices a, b, and c. The function should return the pair of these Series.

Then, write a function modify_series that gets two Series as parameters. It should add to the first Series s1 a new value with index d. The new value should be the same as the value in Series s2 with index b. Then delete the element from s2 that has index b. Now the first Series should have four values, while the second list has only two values. Adding a new element to a Series can be achieved by assignment, like with dictionaries. Deletion of an element from a Series can be done with the del statement.

In [43]:
def create_series(L1: list, L2: list):
    ids = ['a', 'b', 'c']
    return (pd.Series(data=L1, index=ids), pd.Series(data=L2, index=ids))
    
def modify_series(s1: pd.Series, s2: pd.Series):
    s1['d'] = s2.loc['b']
    s2 = s2.drop('b')
    return (s1, s2)

In [37]:
l1 = (1, 2, 3)
l2 = (4, 5, 6)

In [39]:
s1, s2 = create_series(l1, l2)

In [40]:
s1

a    1
b    2
c    3
dtype: int64

In [41]:
s2

a    4
b    5
c    6
dtype: int64

In [44]:
ss1, ss2 = modify_series(s1, s2)

In [45]:
ss1

a    1
b    2
c    3
d    5
dtype: int64

In [46]:
ss2

a    4
c    6
dtype: int64

In [47]:
d = { 2001 : "Bush", 2005: "Bush", 2009: "Obama", 2013: "Obama", 2017 : "Trump"}
s4 = pd.Series(d, name="Presidents")
s4

2001     Bush
2005     Bush
2009    Obama
2013    Obama
2017    Trump
Name: Presidents, dtype: object

In [49]:
s4.values

array(['Bush', 'Bush', 'Obama', 'Obama', 'Trump'], dtype=object)

In [50]:
s4.index

Index([2001, 2005, 2009, 2013, 2017], dtype='int64')

In [53]:
for index, value in s4.items(): 
    print(index, value)

2001 Bush
2005 Bush
2009 Obama
2013 Obama
2017 Trump

In [59]:
def inverse_series(s: pd.Series):
    d = dict()
    idxs = s.index
    values = s.values
    return pd.Series(data=idxs, index=values)

In [60]:
inv_s4 = inverse_series(s4)
inv_s4

Bush     2001
Bush     2005
Obama    2009
Obama    2013
Trump    2017
dtype: int64